/*Lunatic Midnight color scheme*/

:root{
    --main-bg-color:  #001935;
    --white-color: #fff;
    --dropdown-bg-color: rgba(0, 12, 29, 0.527);
    --transparent-color : rgba(1, 1, 1, 0)
    --allert-color: tomato;
    --text-color: rgb(255, 255, 255);
    --color-hover: #4dfff6;
    --login-button-active-color: #02b9da;
    --lunatic-color:#80b3ff;
    --header-color: #001935;
}